.module {
  position: relative;
}

.module__head {
  min-height: 100px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: $secondary-bg;
    z-index: 0;
  }
}

.module__title {
  @include page-title($accent-bg);
  z-index: 1;
  position: relative;
}

.module__program-title {
  position: relative;
  margin-left: -5px;
  margin-bottom: 16px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}