.task-code-page {
  position: relative;

  display: flex;
  gap: 8px;
}

.task-code-page__editor {
  position: relative;
}

.task-code-page__editor-icon {
  color: $accent-bg;
  font-size: 16px;
}

.task-code-page__editor-wrapper {
  display: flex;
  flex-direction: column;
}

.task-code-page__vertical {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #1a0905;
}

.task-code-page__horizontal {
  top: 0;
  left: 0;
  height: 100%;
}