.task-theory-page {
  background: $common-sec-bg;
}

.task-theory-page__content {
  max-width: 900px;
  margin-right: auto;
}

.task-theory-page__title {
  padding-left: 32px;
  margin-bottom: 24px;

  color: $text-main;
  font-weight: 700;
  font-size: 28px;

  background: url("@/assets/images/icons/page_icon.svg") no-repeat left center;
  background-size: 24px;
}