.task-code-page {
  height: 100vh;
  padding: var(--content-block-padding) 16px 16px;

  align-items: flex-start;
  display: flex;
  gap: 8px;

  background: $common-bg;
}

.task-code-page__editor {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.task-code-page__editor-icon {
  color: $accent-bg;
  font-size: 16px;
}

.task-code-page__editor-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  align-self: flex-start;

  min-width: 0;
  height: 100%;
}

.task-code-page__vertical {
  bottom: -8px;
  left: 0;
  width: 100%;
}

.task-code-page__horizontal {
  top: 0;
  left: -7px;
  height: 100%;
}