.task-code-page {
  height: 100%;
  align-items: flex-start;
  display: flex;
  gap: 8px;
  padding: var(--content-block-padding) 16px;
}

.task-code-page__description-wrapper {
  flex: 1 2 auto;
  min-width: 0;
}

.task-code-page__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: $text-main;
}

.task-code-page__description {
  font-size: 14px;
  line-height: 21px;
  color: $text-main;
}

.task-code-page__description-content {
  padding: 16px;
}

.task-code-page__editor {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.task-code-page__editor-icon {
  color: $accent-bg;
  font-size: 16px;
}

.task-code-page__editor-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  align-self: flex-start;
}

.task-code-page__vertical {
  bottom: -8px;
  left: 0;
  width: 100%;
}

.task-code-page__horizontal {
  top: 0;
  left: -5px;
  height: 100%;
}