.task-code-page {
  height: 100%;
  align-items: flex-start;

  display: flex;
  gap: 8px;
}

.task-code-page__description {
  flex: 1 1 auto;
  min-width: 0;
}

.task-code-page__editor {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.task-code-page__editor-icon {
  color: $accent-bg;
  font-size: 16px;
}

.task-code-page__editor-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  align-self: flex-start;
}

.task-code-page__vertical {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #1a0905;
}

.task-code-page__horizontal {
  top: 0;
  left: 0;
  height: 100%;
  color: #1a0905;
}