body {
    position: relative;
    color: $text-main;
    font-size: 16px;
}

#root {
    display: flex;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    flex-grow: 1;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--content-block-padding) 30px;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}