.task-code__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 40px;
}

.task-code__select {
  border: none;
  border-radius: 0;
  height: 32px;
  padding-left: 16px;
}

.task-code {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  background: $common-sec-bg;
  border-radius: 8px;
}

.task-code__button {
  padding: 24px;
  width: min-content;
  margin-left: auto;
  color: $secondary-bg;

  &:hover {
    color: $secondary-bg-hover !important;
  }
}
