.task-code__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 40px;
}

.task-code__select {
  border: none;
  border-radius: 0;
  height: 32px;
}

.task-code {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  border: 1px solid $accent-bg;
  background: $common-bg;
}

