.task-markdown__text {
  color: $text-main;
}

.task-markdown__subtitle {
  margin-bottom: 16px;

  color: $text-main;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.task-markdown__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-markdown__link {
  color: $primary-bg;
  border-bottom: 1px solid transparent;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primary-bg-hover;
    opacity: 0.8;
    border-color: $primary-bg-hover;
  }
}

.task-markdown__inline-code {
  padding: 2px 6px;

  font-family: monospace;
  font-size: 0.9em;

  background-color: $common-bg;
  border-radius: 4px;
  border: 1px solid $secondary-text;
}

.task-markdown__copy-button {
  top: 12px;
}

.task-markdown__code-wrapper {
  position: relative;

  &:hover .task-markdown__copy-button {
    opacity: 1;
  }
}