.resizer{
  position: relative;

  padding: 8px;
  border: 1px solid $secondary-text;
  border-radius: 8px;
  scroll-behavior: smooth;
}

.resizer-height{
  height: 2px;
  margin-top: 3px;

  background: transparent;

  &:hover, &:focus, &:active {
    background: $primary-bg;
  }
}

.resizer-width {
  height: 100%;
  width: 2px;
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 1;
  cursor: col-resize;

  &:hover, &:focus, &:active {
    background: $primary-bg
  }
}

