.task-theory-footer__button {
  margin-top: 24px;
  width: 200px;
}

.task-theory-footer__text {
  color: $text-main;
}

.task-theory-footer__subtitle {
  margin-bottom: 16px;

  color: $text-main;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}