.panel__icon {
  font-size: 24px;
  color: transparent;
}

.panel {
  border: 1px solid $accent-bg;
  background-color: $common-sec-bg;

  &:hover .panel__icon {
    color: $accent-bg;
  }

  @media (width <= 0) {
    display: none;
    background-color: #3aa9e1;
  }
}

.panel__title {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  padding: 4px 16px;

  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: $accent-bg;
  background: $secondary-bg;
}

.panel__buttons {
  margin-left: auto;
}

