.achievement-modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
  background: rgb(0 0 0 / 75%);
  backdrop-filter: blur(10px);
}

.achievement-modal__content {
  position: relative;

  padding: 40px;
  width: clamp(100px, 50%, 400px);

  text-align: center;

  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 24px;
  background: $accent-bg;

  overflow: hidden;
}

.achievement-modal__badge-wrapper {
  position: relative;
  z-index: 2;

  width: 160px;
  height: 160px;
  margin: 0 auto 24px;

  img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 8px $secondary-bg);
  }


  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;

    background: radial-gradient(circle, $secondary-bg 50%, transparent 50%);
    filter: blur(20px);

    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(1.5);}
  50% { transform: translate(-50%, -50%) scale(2);}
  100% { transform: translate(-50%, -50%) scale(1.5);}
}