.plank {
  position: relative;

  width: 100px;
  height: 100px;
  background-image: url("../../assets/images/plank_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    color: white;
  }
}

.plank__lock {
  position: absolute;
  top: 35px;
  left: 40px;

  width: 20px;
  height: 20px;

  background: url("../../assets/images/lock.png") no-repeat;
  background-size: 15px 15px;
}

.plank__title {
  position: absolute;
  top: 15px;
  left: -10px;
  right: 0;

  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.locked {
  background-image: url("../../assets/images/plank.png");
}

.plank__progress {
  position: absolute;
  top: 37px;
  left: -7px;
  right: 0;

  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
