.result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result__none-content {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: $secondary-text;
}

.result__content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
}

.result__container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.result__head-text {
  color: $secondary-text;
  font-size: 16px;
  margin: 0;
}

.result__title {
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 24px;
  color: $secondary-bg;

  &--success {
    color: $primary-bg;
  }
}


.result__metrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.result__metric {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;

  color: $text-main;
  font-size: 16px;

  background-color: $common-bg;
  border-radius: 8px;
}

.result__metric-value {
  font-size: 24px;
}

.result__fail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.result__error-message {
  color: $secondary-bg !important;
}