.result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result__none-content {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: $secondary-text;
}

.result__content {
  padding: 16px;
}

.result__container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result__header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.result__head-text {
  color: $secondary-text;
  font-size: 14px;
  margin: 0;
}

.result__title {
  margin-bottom: 0;
  font-size: 18px;
  color: $secondary-bg;

  &--success {
    color: $primary-bg;
  }
}
