.result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result__none-content {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: $secondary-text;
}

.result__content {
  padding: 16px;
}

.result__container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.result__head-text {
  color: $secondary-text;
  font-size: 14px;
  margin: 0;
}

.result__title {
  margin-bottom: 0;
  font-size: 18px;
  color: $secondary-bg;

  &--success {
    color: $primary-bg;
  }
}


.result__metrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  
  @media(width <= 600px) {
    grid-template-columns: 1fr;
  }
}

.result__metric {
  color: $secondary-text;
  font-size: 16px;
}

.result__fail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.result__fail-desc {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  color: $secondary-text;
}

.result__fail-info {
  padding: 8px;
  margin-top: 8px;

  font-size: 16px;
  color: $text-main;

  background-color: $common-bg;
  border-radius: 8px;
}