.difficulty-tag {
  background-color: $common-bg;
  border-radius: 16px;
  padding: 8px 16px;
  width: min-content;
  font-size: 14px;
}

.difficulty-tag--Easy {
  color: #3aa9e1;
}

.difficulty-tag--Medium {
  color: #e8ba23;
}

.difficulty-tag--Hard {
  color: #851e0b;
}